# Build, cache, state, packages, and test results
[Oo]bj/
[Bb]in/
packages/
TestResults/

*.sln.cache
*.suo
*.user
*.build.csdef
*.ncb
*.docstates

# MonoDevelop state
*.userprefs

# Linux temporary and backup files
*~

# Impulse build files
**/impulse/build

# Personal configuration
Actinic/additional-material/config-actinic.sh

# Files not yet ready to be part of the repository
Supporting Material/
